body {
    display: block;
    margin: 0;
    font-family: 'Courier New', monospace;
    background-color: black;
    color: greenyellow;
}

div.container {
    margin-left: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

h1 {
    width: 100%;
}

img.image_morse {
    margin-left: 50px;
    filter: invert(1);
    width: 80%;
    height: 100%;
}

div.text {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 125px;
    width: 44%;
    position: fixed;
    align-items: center;
}

img#salut {
    top: 25px;
    width: 10%;
    filter: invert(1);
}

img#secret {
    margin-top: 25px;
    width: 25%;
    filter: invert(1);
}

div#indice:hover path {
    stroke: white;
}

div#exemple {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
}

div#exemple img {
    margin-left: 10px;
}

/* Message par défaut (caché) */
.message {
    display: none;
}

/* Media query pour les écrans de moins de 768px de largeur */
@media (max-width: 768px) {
    .morse {
        display: none;
    }

    .message {
        display: block;
        text-align: center;
    }
}
